@media only screen and (min-width: 37.5em) {

    header button { 
        display:none; 
    }  
    
    section.forecast { 
        display: block; 
    }  
    
    header h1 {
        font-size: 2.5rem;
    }
    
    header .subheading {
        font-size: 1.5em;
    }
    
    header img {
      
    }
    
    .header-title {
        max-width: none;
    }
    
    nav ul {
        display: flex;     
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    nav ul.hide {
        display: flex; 
    }
    
    
    nav ul li {
        flex: 1 1 100%;
    }
    
     nav ul li a{   
        font-size: 1.3rem;
        border-top: none;
        padding: 1rem;
    }
    
    #medium-grouping1 {
        display: flex;
        margin: 1rem 2% 0;
    }
    
    #medium-grouping1-sub {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex: 1 1 50%;
    }
   
    main picture {
        width: 50%;
    }
    
    main picture img {
        height: 267px;
        object-fit: cover;
    }
    
    main figure img {
        height: 300px;
        object-fit: cover;
    }
    
   
    
  
    main h2 {

    }
    
    .town-header {
        margin: 0 0 0 2%;
    }
    
    .weather-summary{
        margin: 2% 0 0 2%;
    }
    
    .weather-summary-content {
        align-items: flex-start;   
    }
    
    .current {
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
        margin-bottom: -1rem;
    }
    
    #image-wrapper {  

    }
    
    .current img {
        width: 5rem;
    }
    
    #cur-description {
        font-size: 1.2rem;
    }
    
    .cur-weather-data {
        flex-direction: row;
      
    }
    
    .hi-low {
        margin: 0.5rem 0;
        flex-direction: column;
        align-items: center;
    }
    
    #deg {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
       
    }
    
    .conditions {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;    
    }
    
    .news-story img {
        float: right;
        width: 50%;
        margin: 1rem;
    }
    
    .town-article, .hp-article,  {
        margin: 1rem auto;
        
    }
    
    .town-summary-data {
        margin: 0.5rem auto;
    }
    
    .contact, .footer-bar {
         font-size: 1rem;
    }
    
    .image-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        margin: 1rem auto;
    }
    
    form legend {
        padding: 0.25rem 1rem;
        font-size: 1.25rem
    }
    
    .thank-you {
        height: 15rem;
    }

    .thank-you-line-one {
        font-size: 1.4rem;
    }

    .thank-you-line-two{
        font-size: 1rem;
    }
    
     .news-story-hp, .town-summary-content {
        border-style: solid;
        border-width: thin;
        border-color: #333333;
        border-radius: 4px;
        width: 49.25%;
        
       
        
    }

    .homepage-weather-story {
        display:flex; 
        border-style: none;
        justify-content: space-between;
        height: 23rem;
       
    }
    
    .town-summary {
        display:flex; 
        border-style: none;
        justify-content: space-between;   
        height: 15rem;
    }
    
    .town-summary.even {
        flex-direction: row-reverse;      
    }
    
    .image-wrapper {
        width: 49.25%;
        overflow: aut;
        margin: 0;
    }
    
    .image-wrapper.towns {
        margin: 0;
    }

     .hp-img, .town-summary-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
        
        
    }

  }