/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

 * {
   box-sizing: border-box;
 }

body {
  margin: 0 auto;
  font-size: 16px;
}

header, section, footer {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}

header {
    padding: 1rem;
    
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
  background: #b4ddb4; /* Old browsers */
  background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}
h1, h2, footer {
  font-family: 'Paytone One', sans-serif;
}

/* header styles */

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0; 
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 1rem 0 0;
    
}

/* section styles */

section {
    display: flex;
    flex-direction: column;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}


section article {
  width: 100%;
  margin: 0;
  border: thin solid gray; 
}

section p {
  margin: 5px 0;
    padding: 0 2.5rem;
}

section ul {
  margin-top: 0;
  padding: 0 6rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

footer {
    padding: 0.5rem;
    text-align: center;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
    
}

@media only screen and (min-width: 37.5em) {

header {
    min-height: height: 10rem;
}
h1 {
  font-size: 4rem;
}

section {
  flex-direction: row;
  height: 400px;    
}
        
    
}
