@media only screen and (min-width: 64em ) {



/* ------------ Navigation ------------ */   
nav ul li a{   
    padding: 2rem 1rem;
}


/* ------------ Main ------------ */ 

    .lowerhalf-wrapper{
        display: flex;
    }
    
    .bottom-wrapper {
        display: flex; 
        flex-direction: column;
        width: 25%;
        height: 30rem;
    }
    
    .middle-wrapper{
        height: 30rem;
    }
    
    .departments.bottomleft, .departments.bottomright {
        min-height: 0;
        min-width: 0;
        height: 15rem;
        
    }
    
    

}