/* ------------ General ------------ */

* {
    box-sizing: border-box;
}


body {
    font-family: "arial", sans-serif; 
    font-size: 16px;
    width: 100%;
    background-color: #a1a8b2;
    color: #262626;
}


.topbar, main, footer {
    max-width: 1230px;
    margin: 0 auto; 
    overflow: hidden;
}


.topbar {
    background-color: #3e4852;
}

/* ------------ Header ------------ */    

.logo {
    margin: 0 2%;
    padding: 0.5rem 0; 
    max-width: 50%;
}

.logo img {
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

header a {
    display: block;
}

header a:hover {
    box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.2);
}

#menu-button {
    height: 50%;
    margin: 0 2%;
    color: #EFF1F5;
    background-color: transparent;
    border: none;   
    font-size: 2rem;
}


/* ------------ Navigation ------------ */

nav {
    position:fixed;
    top: 0;
    height: 100%;
    background-color: #ab9075;
    width: 70%;
    left: -70%;
    -webkit-transition: left 500ms;
	   -moz-transition: left 500ms;
	    -ms-transition: left 500ms;
	     -o-transition: left 500ms;
	        transition: left 500ms;
    z-index: 1;
}

#blanket {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

#blanket.show {
    display: block;
}

nav.show {
    left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;        
}

nav ul a {
    font-family: 'Lato', sans-serif;
    color: #EFF1F5;
    display: block;
    padding: 1.5rem 0;
    text-decoration: none;
    text-align: center;
    border-bottom: thin solid rgba(0,0,0,0.2);
    
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.1);  
}

nav ul li.active a {
    
    background-color: rgba(0,0,0,0.3);  
}

/* ------------ Main All ------------ */ 

.semanticHeader-invisible {
    display: none;
}

/* ------------ Main Home ------------ */ 



.departments picture {
    display: block;
    position: relative;
    z-index: -1;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    
}

.departments picture img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.departments {
    width: 100%;
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
   
}

.departments .grid-wrapper {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.departments .grid-wrapper.rightside {
    grid-column: 3;
}

.departments .grid-wrapper.leftside {
    grid-column: 1;
}

.departments .grid-wrapper a {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    border: thin solid #3e4852;
    white-space:nowrap;
    text-align: center;
    color: #EFF1F5;
    background-color: rgba(62, 72, 82, 0.7);
    line-height: 1.4;
}

.departments .grid-wrapper a {
  
}

.departments .grid-wrapper a:hover, .submitBtn:hover {
    background-color: rgba(0,0,0,0.6);  
}

.departments .grid-wrapper.leftside.contact a{
    text-align: left;
}

.departments .grid-wrapper.leftside.contact a .contactlink{
    margin: 0.5rem 0;
    font-weight: bold;
    color: inherit;
    font-size: 1.25rem;
}

.departments .grid-wrapper.leftside.contact a p{
    margin: 0;
}

/* ------------ Main Shopping ------------ */ 


.sale-catalog {
  
  
}

.sale-catalog-item {
    background-color: #eef1f5;     
}

.accordion {
    width: 100%;
    background-color: #625751;  
    color: #EFF1F5;
    border: none;
    padding: 0.75rem 1rem;
    text-align: left;
    outline: none;
    cursor: pointer;
    border: thin solid rgba(0,0,0,0.2);
    font-size: 1.5rem;
}

.panel {
    overflow: hidden;
    max-height: 0;
     -webkit-transition: max-height 1000ms;
   -moz-transition: max-height 1000ms;
    -ms-transition: max-height 1000ms;
     -o-transition: max-height 1000ms;
        transition: max-height 1000ms; 
}

.panel.first {
    max-height: none;
}

.sale-catalog-item img{
    display: block;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}

.sale-catalog-item ul {
    padding: 1rem 3rem 2rem;
    margin: 0;
}


.sale-catalog-item ul li {
    padding: .5rem 0;
}



/* ------------ Main Events ------------ */ 

#gdmbr-photo, .tour-pic {
    display: block;
    width: 100%;
}


#gdmbr-img, .tour-img{
    display: block;
    height: 100%;
    width: 100%; 
    object-fit: cover;
}

.main-list {
    font-size: 1.25rem;
    list-style-type:none;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
}

.fix-unique {
    white-space: nowrap;
}

.main-list > li{
    padding-top: .75rem;
    padding-bottom: .25rem;
}

.sub-list {
    list-style-type:disc;
    padding-top: 0.5rem;
}

.bold {
    font-weight: bold;
}

.eventhead {
    margin: 0;
    padding: 1rem 0 .5rem 1rem;
    font-size: 1.25rem;
}

.event-detail-list {
    padding-left: 3rem;
    padding-left: 3rem;
    font-size: 1.25rem;
    margin: 0;
}

.other-events {
    padding-bottom: 1rem;
}

.other-container {
    background-color: #eef1f5;
    
}

.other-events-container p{
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin: 0;
    
}

/* ------------ Main Tours ------------ */ 

.tourhead {
    margin: 0;
    padding: 1rem 0 .5rem 1rem;
    font-size: 1.25rem;
    
}





/* ------------ Main Service ------------ */

.list-of-services-chart {
    background-color: #eef1f5;    
    border-collapse: collapse;
    width: 100%;
}

thead tr:first-child {
    font-size: 1.5rem;
    font-weight: bold;
}

thead tr:first-child th{
    padding: .75rem 0;
    
}

thead tr:nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
}

thead tr:nth-child(2) th{
    padding: .75rem;
    border: thin solid #cdd0d3; 
}

thead tr, tfoot {
    background-color: #625751; 
    color: #EFF1F5;
    text-align: center;
}

tfoot td{
    padding: 0.75rem;
    text-align: left;
    font-weight: bold;
}

tbody td {
    border: thin solid #cdd0d3;   
    padding: 1rem 0; 
    text-align: center;
}

tbody tr td:first-child {
    font-style: italic;
    background-color: #958a84; 
    color: #EFF1F5;
    padding: .75rem;
    
} 


/* ------------ Main Contact Us ------------ */


.map {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none; 
}

.map-container {
    border: thin solid #cdd0d3; 
    margin: 0 2% 1rem 2%;
    width: 96%;
    height: 50vh;   
}

#route {
    border: none;
}

.contact-info-container {
    text-align: center;    
}

.contacthead, .formheader, .gdmbrhead, .otherhead, .tourhead, .resource-links, .overviewhead {
    margin: 0;
    color: #EFF1F5;
    background-color: #625751;
    width: 100%;
    padding: 0.75rem 0;
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
}

.contact-us, .gdmbr-container, .other-events-container, .tour-info {
    border: thin solid #cdd0d3; 
    border-top: none;
    background-color: #eef1f5;   
}

.contact-info {
    padding: 0.5rem;
}

.contact-info-items {
    margin: 0.25rem;
}

/* ------------ Main Forms ------------ */


form {
    margin: 0 auto;
    background-color: #eef1f5;
    width: 100%;
}

.border-wrap{ 
    border: thin solid #cdd0d3; 
    border-top: none; 
    padding: 0 0 1rem;
}
    
form label.top {
    display: block;
    padding-top: 1rem;
    font-weight: bold;
    width: 96%;
    margin: 0 auto;
}

form label.top input, form label.top textarea, form label.top select  {
    display: block;
    border: thin solid #cdd0d3;
    border-radius: 5px;
    padding: .75rem 0.5rem;
    color: #404040;
    resize: vertical;
    width: 100%;   
    margin: 0;
}

.submitBtn {
    display: block;
    border-radius: 10px;
    padding: .75rem 1.5rem;
    margin: 1rem 0 0 2%;
    color: #EFF1F5;
    background-color: rgba(62, 72, 82, 0.7);
    width: 96%;
}

.cover-button {
    display: block;
    border-radius: 10px;
    padding: .75rem 1.5rem;
    margin: 0 auto;
    color: #EFF1F5;
    background-color: rgba(62, 72, 82, 0.7);
    width: 96%;
}

.tms-forms.form-errors label.top input:required, .tms-forms.form-errors label.top select:required {
    border: thin solid red;
}

.tms-forms.form-errors label.top input:required:valid, .tms-forms.form-errors label.top select:required:valid{
    border: thin solid green;
}

.form-container {
    position: relative;
    width: 100%;
}

#cover {
    display: none;
}

#cover.show {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #eef1f5;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    flex-direction: column;
}

#cover p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* ------------ Overview ------------ */ 

.bypagehead {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 0 0 0;
    margin: 0;
    
}

.page-grouping {
    padding-left: 1rem;
    
}

.overview-wrapper {
    background-color: #eef1f5; 
}

.overview-video {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.main-list a:hover {
     color: rgba(0,0,0,0.9);  
}


/* ------------ Footer ------------ */ 

footer {
    display: flex;
    justify-content: space-between;
    background-color: #3e4852;
}

footer p {
    color: #EFF1F5;
    font-size: 1rem;
    margin: 1rem;    
}

footer p a {
    color: inherit;
      
}

footer p a:hover {
    text-shadow: 0 0 1px #cccccc;
    text-decoration: none; 
}

