@media only screen and (min-width: 37.5em) {

/* ------------ Topbar ------------ */    
    
    .topbar {
        background-color: #3e4852;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
/* ------------ Header ------------ */    

    #menu-button {
        display: none;
    }  
    
    .logo {
        max-width: none;
    }
    
    .logo img {
        max-width: 100%;
    }
    
    

/* ------------ Navigation ------------ */       

    nav {
        position: relative;
        background-color: inherit;
        width: auto;
        height: auto;
        left: auto;
    }
    nav ul {
        display: flex;     
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    nav ul li {
        flex: 1 1 100%;
    }

     nav ul li a{   
        font-size: 1.3rem;
        border-bottom: none;
        padding: 2rem 0.5rem;
    }
    
    
    /* ------------ Main ------------ */ 
    
    .shopping {
    height: 23rem;
    }
    
    .shopping .grid-wrapper a {
    font-size: 1.25rem;
    padding: 1rem 2rem;
   
}
    
    
    /* ------------ Footer ------------ */ 

    
    footer p {
        font-size: 1.2rem;
        margin: 1rem;    
    }

  

}