* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: arial sans-serif; /* Declare the base font-family */
    
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 1230px;
    margin: 0 auto;
    padding: 0;
}

header {
    position: relative;
    background-color: #AD4900;
    height: 7em;
    top: 0;    
    padding: 0.1em;
} 
header h1 {
    font-family: ravie;
    font-style: italic;
    font-size: 0.75em;
    color: #E6E6E6;
    padding: 1.3em 0 0;
    margin-left: 25%;
    margin-right: 85%;
    width: 65%;
    text-align: center;
}
header img {
    position: absolute;
    height:100%;
    width: 25%;
    
}
header .subheading {
    
    font-family: arial;
    font-style: italic;
    font-weight: bold;
    font-size: 0.75em;
    color: #E6E6E6;
    width:65%;
    margin-left: 25%;
    text-align: center;
    padding: 0 0 1em;  
}

nav {
}

nav button {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    margin: 0.25em 0.25em 0 0;
    padding: 0;
}

nav button img{
    width: 1rem;
    height: 1rem; 
}

nav button:hover, nav button:focus {
    	filter: invert(90%);
}

nav button:hover nav ul{
    	display: block;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}
nav ul li{
    background-color: #404040;
    padding: 0.1em
}
nav ul li a {
    text-decoration: none;
    color: #E2E200;
}
nav ul li.active a {}
nav ul li a:hover {
    color: #FFFFFF;
}

main {
    position: relative;
    clear: both;
    background-color: #B4B4B4;
    padding: 0.1em;

}
main h2 {
    text-align: center;
    display: block;
    color: #404040;
    font-size: 2em;
    font-weight: bold;
    width: 96%; 
    margin: 0 auto;
}

.town-header {
    margin: 0.5rem 2%;
    overflow: auto;
    background-color: #E2E200; 
    border-radius: 70%; 
}
main figure { 
    margin: 0 0 .2rem 2%; 
    width:96%; }
main figure img {
    top: 0;
    width: 100%;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto; 
    padding: 0;
}

.weather-summary, .news-story, .forecast{
    position: relative;
    border-style: solid;
    border-color: #000000;
    margin: 1em 2%;
    overflow: auto;
}

.weather-summary h3, .news-story h3, .forecast h3{
    background-color: #404040;
    margin: 0 ;
    width:100%;
    color: #E2E200;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    padding: 0.2em;
}

.weather-summary img{
    height: 2em;
    float: right;
    border-radius: 50%;
    margin: 0.75em 0;

        
}

.current {
    width: 7em;
    margin: 0 auto;
    overflow: auto;
}


#cur-state {
    display: inline-block;    
}



.highlow {

    width: 12em;
    margin: 0 auto;
    overflow: auto;
    
}

.cur-temp{
    display: inline-block;  
    float: left;
    width: 4.5em;
    margin: 0 0.5em;
}

.conditions p{
   margin: 0 0.5em;
}


.conditions{
    width: 11em;
    margin: 1em auto;
    overflow: auto;
 
}

section.forecast {
    display: none;
    clear: both;
    
}

.forecast-table {
    border-collapse: collapse;
    width: 100%;
    margin-right: 0 auto;
    text-align: center;
    
}

.forecast-table th, .forecast-table td{
    width: 10%;
    border-right: solid;
    border-right-width: thin;
}

.forecast-table th {
    background: #AD4900;
}


.news-story img {
    width: 100%;
     padding: 1em 1em 0;
}

.town-article {
        font-size: 1em;
        width: 96%;
        margin: 1em auto;
        
    }



footer .contact {
    background: #AD4900;
    margin: 0;
    padding: 0.1em;
    text-align: center;    
}

.contact-info, .contact h4 {
    padding: 0;
    margin: 0;
}
.footer-bar {
    background-color: #5F2D0A;
    color: #E6E6E6;
    font-size: 0.75em;
    text-align: center;
    padding: 0;
    margin: 0;
}


