@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
    section.forecast { display: block; }  /* show the 10-day forecast with the medium view and up */
    
    
    header h1 {
    font-size: 1.25em;
    padding: 0.5em 1em 0;
    width: 75%;
    }
    
    header .subheading {
    font-size: 1em;
    width:65%;
    padding: 0 1em;

    }
    
    nav {
    }
        
    nav ul {
        display: block;
    }
    
    nav ul li {
        float: left;
        width: 16.66666667%;      
        font-size: 1.10rem;
            
    }
    
    
    main figure {
    float: left;
    width: 55%;
    margin-right: 0.5em
   
    }
    
    main figure img {
        width: 100%
   
    }
    
    .current {
        width: 100%;
        
    }
    .current img {
        float: left;
        width: 40%;
        height: auto;
    }
    #cur-state {
        width: 60%;
        font-size: 1.5em;
        text-align: center;
    }
    
    .cur-temp {
        display: block;
        float: none;    
    }
    
    .highlow { 
        width: 60%;
        font-size: 1rem;
        margin-left:35%;
            
    }
    
    .conditions {
        width: 60%;
        font-size: 1rem;
        margin-left;
        
       
    }
    
    
    .news-story img {
        float: right;
        width: 50%;
    }
    
    .town-article {
        width: 96%;
        margin: 1em auto;
        
        
    }
    
    .town-article, .contact, .footer-bar {
         font-size: 1.25rem;
    }
    
   
    
   
  
    
  }