@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
    section.forecast { display: block; }  /* show the 10-day forecast with the medium view and up */
    
    nav {
    }
        
    nav ul {
        display: block;
    }
    
    nav ul li {
        float: left;
        width: 16.66666667%;      
        z-index: 1;
        font-size: 1.25em;
    }
    
    nav ul li a:hover, nav ul li a:focus {
    

    }

    .town-article {
        font-size: 5px;
    }
  
    
  }