@media only screen and (min-width: 37.5em) {

    header button { 
        display:none; 
    }  
    
    section.forecast { 
        display: block; 
    }  
    
    header h1 {
        font-size: 2.5rem;
    }
    
    header .subheading {
        font-size: 1.5em;
    }
    
    header img {
      
    }
    
    .header-title {
        max-width: none;
    }
    
    nav ul {
        display: flex;     
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    nav ul.hide {
        display: flex; 
    }
    
    
    nav ul li {
        flex: 1 1 100%;
    }
    
     nav ul li a{   
        font-size: 1.3rem;
        border-top: none;
        padding: 1rem;
    }
    
    #medium-grouping1 {
        display: flex;
        margin: 1rem 0 0;
    }
    
    #medium-grouping2 {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        align-content: center;
        justify-content: flex-start;
    }
   
    main figure {
        width: 50%;
    }
    
    main figure img {
    }
    
    main h2 {
            
    }
    
    .town-header {
        margin: 0 0 0 2%;
    }
    
    .weather-summary{
        display: flex;
        flex-direction: column;
    }
    
    .current {
        
        flex-direction: row-reverse;
        justify-content: center;
        align-content: center;
        padding: 0;
    }
    
    .current img {
        width: 70%;
        height: auto;
        margin: 5% 5%;
    }
    
    #cur-state {
        margin: 5% 20% 0 0;
        font-size: 1.5em;
    }
    
    .cur-temp {
        display: block;
    }
    
    .highlow { 
        width: 50%;
        font-size: 1rem;
        margin-left: 50%;
        margin-top: -20%;    
    }
    
    .conditions {
        width: 60%;
        font-size: 1rem;
        margin-left:45%;
    }
    
    .news-story img {
        float: right;
        width: 50%;
        padding: 0;
        margin: 1em;
    }
    
    .town-article {
        margin: 1em auto;
        font-size: 1rem;
    }
    
    .contact, .footer-bar {
         font-size: 0.75rem;
    }

  }