/* CIT 230 - Assignment Portal CSS | Conner Smith */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: black;
}

h1 {
    font-size: 3rem;
    color: White;
    text-align: center;
    padding: 1rem;
}

h2 {
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid black;
}

header, main, footer {
    margin: auto;
    max-width: 960px;
}

header, footer, footer a {
    text-align: center;
    background-color: firebrick;
    color: White;
}

header img {
    width: auto;
    height: 12rem;
    float: right;
    padding: 1rem;
}

footer {
    font-size: 1rem;
    color: White;
    padding: em;
     
}

main ul {
    padding:1rem;
}